# Ambiente virtual
venv/

# Variáveis de ambiente
.env

# Banco local
db.sqlite3

# Uploads
media/

# Python
__pycache__/
*.pyc
*.pyo

# Django
staticfiles/

# Oracle
Oracle/*.key

# VSCode
.vscode/

# Windows
Thumbs.db
Desktop.ini